

.footer-link {
    color: #aba59f;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.footer-link:hover {
    color: #aba59f;
    cursor: pointer;
    text-decoration: underline;
}