.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .review-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
    margin: 8px;
  }
  
  .review {
    min-width: 33.33%; /* Display three items per slide */
    box-sizing: border-box;
    text-align: center;
  }

  .review-box {
    background: #fff;
    box-sizing: border-box;
    padding: 16px 24px;
    border-radius: 8px;
    margin: 16px 20px;
    height: 100%;
    padding-bottom: 12px;
    margin-bottom: 0;
  }
  .review-row {
    display: flex;
    align-items: 'center';
    margin-bottom: 2px;
  }
  .review .title-row {
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    display: inline-flex;
    gap: 8px;
  }
  .review .title {
    font-weight: 600;
    text-align: left;
    font-size: 17px;
    color: #000000;
  }
  .review p {
    font-style: normal;
    height: auto;
    margin-top: 6px;
    padding-bottom: 0;
    padding-right: 0;
    text-align: left;
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.75em;
  }
  .review .stars {
    display: flex;
    color: #f6bb05;
    gap: 4px;
    margin-top: 12px;
  }
  .review .verified-img {
    width: 15px;
    height: 15px;
  }
  .review .google-img {
    width: 15px;
    height: 15px;
  }
  .review .user-img {
    width: 22px;
    height: 22px;
  }
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
  }
  .prev-button {
    left: 10px;
  }
  .next-button {
    right: 10px;
  }

@media screen and (max-width: 768px) {
    .review {
        min-width: 100%; /* Show one item per slide on mobile */
    }
    .review p {
        font-size: 15px;
    }
    .review .title {
        font-size: 16px;
    }
}